{% schema %}
  {
    "name": "Banner Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Banner Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Banner Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Get Special Offer"
      },
      {
        "type": "text",
        "id": "discount",
        "label": "Discount",
        "default": "40%"
      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Worem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Claim"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Banner Image",
        "settings": {
          "title": "Get Special Offer",
          "discount": "40%",
          "description": "Worem ipsum dolor sit amet",
          "button_text": "Claim"
        }
      }
    ]
  }
{% endschema %}

<style>
  .banner-section {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
  }

  .banner-image-container {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 8rem;
    left: 1rem;
    right: 1rem;
    text-align: center;
    color: #ffffff;
  }

  .banner-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    color: white;
  }

  .banner-discount-label {
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  .banner-discount-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .banner-discount {
    font-size: 2.25rem;
    font-weight: 700;
    color: #ffffff;
  }

  .banner-discount-percentage {
    font-size: 1rem;
    background-color: #dc2626;
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
    height: fit-content;
  }

  .banner-description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .banner-button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #dc2626;
    border-radius: 9999px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
  }

  .banner-button:hover {
    background-color: #b91c1c;
  }

  @media (min-width: 768px) {
    .banner-image-container {
      height: 700px;
    }

    .banner-content {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      left: 2.5rem;
      right: auto;
      text-align: left;
      max-width: 700px;
      padding: 0 1rem;
    }

    .banner-title {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .banner-discount-label {
      font-size: 1.875rem;
    }

    .banner-discount {
      font-size: 4.5rem;
      font-weight: 800;
    }

    .banner-discount-percentage {
      font-size: 1.5rem;
    }

    .banner-description {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }

    .banner-button {
      padding: 0.75rem 2rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }
</style>

<section class="banner-section">
  <div class="banner-image-container">
    <picture>
      <source media="(min-width: 768px)" srcset="{% if section.settings.image_desktop != blank %}{{ section.settings.image_desktop | img_url: 'master' }}{% else %}{{ 'banner.png' | asset_url }}{% endif %}">
      <img
        src="{% if section.settings.image_mobile != blank %}{{ section.settings.image_mobile | img_url: 'master' }}{% else %}{{ 'bannerImage.png' | asset_url }}{% endif %}"
        alt="Banner Image"
        class="banner-image"
        width="100%"
        height="600"
        loading="eager">
    </picture>
  </div>

  <div class="banner-content">
    <h2 class="banner-title">{{ section.settings.title | escape }}</h2>
    <p class="banner-discount-label">Up to</p>
    <div class="banner-discount-view">
      <span class="banner-discount">{{ section.settings.discount | escape | remove: '%' }}</span>
      <span class="banner-discount-percentage">%</span>
    </div>
    <p class="banner-description">{{ section.settings.description | escape }}</p>
    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link | default: '#' }}" class="banner-button">
        {{ section.settings.button_text | escape }}
      </a>
    {% endif %}
  </div>
</section>